{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}">

    <!-- Scripts -->
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}" type="text/javascript"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
</head>

<body>
<div class="wrapper">
    <div class="container">
        <header class="header">
            <a href="{% url 'main-page' %}" class="header__logo">BrandName</a>
            <div class="header__nav-list">
                <a href="/Python/"><img src="{% static 'main/icons/header_icons/python.svg' %}" alt="Python" class="header__img"></a>
                <a href="/Javascript/"><img src="{% static 'main/icons/header_icons/javascript.svg' %}" alt="JavaScript" class="header__img"></a>
                <a href="/Html/"><img src="{% static 'main/icons/header_icons/html.svg' %}" alt="HTML" class="header__img"></a>
                <a href="/Css/"><img src="{% static 'main/icons/header_icons/css.svg' %}" alt="CSS" class="header__img"></a>
                <a href="/Django/"><img src="{% static 'main/icons/header_icons/django.svg' %}" alt="Django" class="header__img"></a>
                <a href="/Git/"><img src="{% static 'main/icons/header_icons/git.svg' %}" alt="Git" class="header__img"></a>
            </div>
            <div class="header__search-block">
                <form action="{% url 'search' %}" method="get">
                    <input type="search" class="header__search" name="search" placeholder="Я ищу...">
                    <button class="header__search-button">
                        <img src="{% static 'main/icons/header_icons/search.svg' %}" alt="Search" class="header__search-img">
                    </button>
                </form>
                <button type="submit" class="header__search-button" style="margin-left: 50px;" id="notes-button">
                    <a href="{% url 'notes-list' %}"><img src="{% static 'main/icons/header_icons/заметки.svg' %}" alt="Notes"></a>
                </button>
                <div class="modal">
                    <div class="modal-content">Мои заметки</div>
                </div>
                <script src="{% static 'main/js/notes.js' %}"></script>
            </div>
            <div class="header__user-nav">
                {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}" class="header__user">Log In</a> /
                <a href="{% url 'register' %}" class="header__user">Register</a>
                {% else %}
                <a href="#" class="header__user">{{ request.user }}</a> /
                <a href="{% url 'logout' %}" class="header__user">Log Out</a>
                {% endif %}
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <div class="footer__inner">
                <img src="{% static 'main/icons/footer_icons/youtube.svg' %}" alt="YouTube">
                <img src="{% static 'main/icons/footer_icons/telegram.svg' %}" alt="Telegram">
                <img src="{% static 'main/icons/footer_icons/viber.svg' %}" alt="Viber">
            </div>
        </footer>
    </div>
</div>
</body>
</html>
