<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main/css/reset.css">
    <link rel="stylesheet" href="main/css/styles.css">
    <title>Django шпаргалка</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                <a href="#" class="header__logo">BrandName</a>
                <div class="header__nav-list">
                    <img src="big_icons/icons8-питон.svg" alt="" class="header__img">
                    <img src="big_icons/icons8-javascript.svg" alt="" class="header__img">
                    <img src="big_icons/icons8-html.svg" alt="" class="header__img">
                    <img src="big_icons/icons8-css.svg" alt="" class="header__img">
                    <img src="big_icons/icons8-git.svg" alt="" class="header__img">
                    <img src="big_icons/icons8-джанго.svg" alt="" class="header__img">
                </div>
                <div class="header__search-block">
                    <input type="search" class="header__search" placeholder=" Я шукаю...">
                    <img src="big_icons/icons8-поиск.svg" alt="" class="header__search-img">
                </div>
                <div class="header__user-nav">
                    <a href="#" class="header__user">Log In</a>
                    /
                    <a href="#" class="header__user">Register</a>
                </div>

            </header>
            <main class="main">
                <div class="main__content">
                    <h1 class="main__content-intro">Шпаргалка по django, и не только!</h1>
                    <div class="main__content-cats">
                        <div class="main__content-cat">
                            <div class="main__content-name">Python</div>
                            <img src="icons/icons8-питон.svg" alt="">
                        </div>
                        <div class="main__content-cat">
                            <div class="main__content-name">Html</div>
                            <img src="icons/icons8-html-5.svg" alt="">
                        </div>
                        <div class="main__content-cat">
                            <div class="main__content-name">Django</div>
                            <img src="icons/icons8-джанго.svg" alt="">
                        </div>
                        <div class="main__content-cat">
                            <div class="main__content-name">Javascript</div>
                            <img src="icons/icons8-javascript.svg" alt="">
                        </div>
                        <div class="main__content-cat">
                            <div class="main__content-name">Css</div>
                            <img src="icons/icons8-css.svg" alt="">
                        </div>
                        <div class="main__content-cat">
                            <div class="main__content-name">Git</div>
                            <img src="icons/icons8-git.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="main__aside">
                    <div class="main__aside-list">
                        <li class="main__aside-item">Django</li>
                        <li class="main__aside-item">Python</li>
                        <li class="main__aside-item">Html</li>
                        <li class="main__aside-item">Css</li>
                        <li class="main__aside-item">Javascript</li>
                        <li class="main__aside-item">Git</li>

                        
                    </div>
                </div>
            </main>
            <footer class="footer">
                <div class="footer__inner">
                    <img src="big_icons/icons8-youtube.svg" alt="">
                    <img src="big_icons/icons8-телеграм.svg" alt="">
                    <img src="big_icons/icons8-viber.svg" alt="">
                </div>
            </footer>
        </div>
    </div>
</body>

</html>