{% extends 'main/base.html' %}

{% block title %}Тест{% endblock %}

{% block content %}

<h1 style="font-size: 28px; margin-top: 40px;">{{test.name}}</h1><br>
<hr>
{% if between_2_and_4 and not in_exception_range %}
<h3 style="font-size: 20px; padding-top: 10px;">Всего {{ object.quantity_questions }} вопроса</h3>
{% elif is_1 %}
<h3 style="font-size: 20px; padding-top: 10px;">Всего {{ object.quantity_questions }} вопрос</h3>
{% elif in_exception_range %}
<h3 style="font-size: 20px; padding-top: 10px;">Всего {{ object.quantity_questions }} вопросов</h3>
{% elif is_2_3_4 %}
<h3 style="font-size: 20px; padding-top: 10px;">Всего {{ object.quantity_questions }} вопроса</h3>
{% else %}
<h3 style="font-size: 20px; padding-top: 10px;">Всего {{ object.quantity_questions }} вопросов</h3>
{% endif %}





<br>

<form method="post" action="{% url 'before' %}">
    {% csrf_token %}
    <input type="hidden" name="test_pk" value="{{test.pk}}">
    <button type="submit" class="start-test-button">Начать тестирование</button>
</form>

{% endblock %}